<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    {{>navigation }}

    <div id='container'>
      <div id="header">
        <p>FILLER TEXT</p>
      </div>
      <div id="portfolio">
        {{#each articles }}
          <div class="entry">
            <img src="{{ preview }}" class="{{ orientation }}" alt=" {{ title }}">
            <div class="overlay">
              <div class="previewTitle"> {{ title }}</div>
              <div class="previewDesc"> {{ description }}</div>
            </div>
          </div>
        {{/each }}
      </div>
    </div>
  </body>
</html>