<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <div id='container'>
        <div id="header">
          <div class="nameContainer">
            <div class="name">
              <p>Thomas Williams</p>
            </div>
            <div class="coverImage">
              <img src="/img/thumbnail/cover-image.PNG">
            </div>
          </div>
          {{>navigation }}
        </div>
        <div id="portfolio">
          {{#each articles }}
            <div class="entry">
              <img class="{{ orientation }}" src="{{ preview }}"  alt=" {{ title }}">
              <div class="overlay">
                <div class="previewTitle"> {{ title }}</div>
                <div class="previewDesc"> {{ description }}</div>
              </div>
            </div>
          {{/each }}
        </div>
    </div>
  </body>
</html>