<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
  </head>
  <body>
    <div id='container'>
        <div id="header">
          {{>cover }}
        </div>

        <div class="bio">
            {{>bio }}
        </div>
        <br>
        <div id="portfolio">
          {{#each articles}}
            <a href="/{{ this.path }}">
              <div class="entry">
                  <img class="{{ orientation }}" src="{{ preview }}"  alt=" {{ title }}">
                <div class="overlay">
                  <div class="previewTitle"> {{ title }}</div>
                  <div class="previewDesc"> {{ description }}</div>
                </div>
              </div>
            </a>
          {{/each }}
        </div>
    </div>
  </body>
  <footer><script src="/js/index.js"></script></footer>
</htm